.items img{
    max-height: 500px;
    width: 100%;
}
.navbar-custom {
    position: absolute;
    width: 100%;
}
.navbar a{
    color: #fff;
}
.navbar a:hover{
    color: darkcyan;
}
.navbar-brand{
    font-size: 30px;
}
ul.navbar-nav li {
    margin-left: 20px;
}
header{
    height: 500px;
    background: url(../img/background/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px 0;
    color: #fff;
}
header h1{
    font-size: 50px;
    text-shadow: 3px 2px 3px #000;
}
header p{
    text-shadow: 3px 2px 3px #000;
    font-size: 20px;

}
.navbar-toggler-icon{
    color: #fff;
}
.block-a {
    border-top: 1px solid grey;
    margin: 10px 0;
    padding: 10px 0;
}
.block-b {
    margin: 20px 0 0 0;
    padding: 10px 0;
    background: #f1f1f1;
}
.block-a img,
.block-b img{
    max-height: 400px;
}
.my-heading{
    margin-top: 50px;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: inline-block;
    font-size: 30px;
}
.my-heading:hover{
    color: dodgerblue;
    cursor: pointer;
}
#projects {
    margin: 10px 0 0 0 ;
}
#gallery-wrapper .col-md-4{
    overflow: hidden;

}
.proj-img {
    height: auto;
    width: 100%;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, 
    -webkit-transform 0.5s ease;
}
.proj-img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#about-img {
    width: 400px;
    max-height: 400px;
    float: right;
}
footer{
    width: 100%;
    background: grey;
    padding: 10px 0;
    color: #fff;
}